#editor{ width:976px; height:200px; float:left; border:none; background:#FFC;}
#editor2{ float:left; border:none; background:#FFC;}
.te {border:1px solid #bbb; padding:0 1px 1px; font:12px Verdana,Arial; margin:0px; float:left}
.te iframe {border:none}
.teheader {height:31px; border-bottom:1px solid #bbb; background:url(../../images/style5/header-bg.gif) repeat-x; padding-top:1px}
.teheader select {float:left; margin-top:5px; background:#fff; border:1px solid #ccc;}
.tefont {margin-left:12px}
.tesize {margin:0 3px}
.testyle {margin-right:12px}
.tedivider {float:left; width:1px; height:30px; background:#ccc}
.tecontrol {float:left; width:34px; height:30px; cursor:pointer; background-image:url(../../images/style5/icons.png)}
.tecontrol:hover {background-color:#fff; background-position:30px 0}
.tefooter {height:32px; border-top:1px solid #bbb; background:#f5f5f5; float:left; width:100%;}
.toggle {float:left; background:url(../../images/style5/icons.png) -34px 2px no-repeat; padding:9px 13px 0 31px; height:23px; border-right:1px solid #ccc; cursor:pointer; color:#666}
.toggle:hover {background-color:#fff}
.resize {float:right; height:32px; width:32px; background:url(../../images/style5/resize.gif) 15px 15px no-repeat; cursor:s-resize}